body {
  width: 300px;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 10px;
}

h2 {
  text-align: center;
}

details {
  margin-top: 10px;
}

summary {
  cursor: pointer;
}
